<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="file" />
    <appender-ref ref="SentryAppender" />
  </root>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="SCS_Logbook.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="SentryAppender" type="Sentry.Log4Net.SentryAppender, Sentry.Log4Net">
    <Dsn value="https://ad25811c9bca4a6f8a8add0ec80d0158:7bd9cfac21f548a2b34b8df7dd4220ee@sentry.io/1432687"/>
    <!--Sends the log event Identity value as the user-->
    <SendIdentity value="true" />
    <Breadcrumb value="WARN" />
  </appender>
</log4net>